[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest-mock = "*"
packagename = {editable = true, path = "."}
pytest-cov = "*"
flask = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
